image: mcr.microsoft.com/dotnet/core-nightly/sdk:3.0

stages:
    - build
    - test

before_script:
    - "dotnet restore"
    
build:
    stage: build
    script:
        - "dotnet build"

test:
    stage: test
    script: 
        - "dotnet test"
